In [1]:
## Q1
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series_data = pd.Series(data)
print(series_data)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
## Q2
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
## Q3
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

## Q4
n pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is organized in rows and columns.

A Series in pandas is a one-dimensional labeled array. It can be thought of as a single column of data. A DataFrame, on the other hand, is a collection of Series. Each column of a DataFrame is a Series.

In [4]:
import pandas as pd

# Creating a Series
series_data = pd.Series([1, 2, 3, 4], name='Column_A')

# Creating a DataFrame with the Series
df = pd.DataFrame({'Column_A': series_data, 'Column_B': [5, 6, 7, 8]})

print("Series:")
print(series_data)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
Name: Column_A, dtype: int64

DataFrame:
   Column_A  Column_B
0         1         5
1         2         6
2         3         7
3         4         8

In [5]:
## Q5
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, None, 22],
        'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago']}

df = pd.DataFrame(data)

# Display first 3 rows
print(df.head(3))

# Summary statistics
print(df.describe())

# Fill missing values in 'Age' with the mean
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Display updated DataFrame
print(df)

      Name   Age           City
0    Alice  25.0       New York
1      Bob  30.0  San Francisco
2  Charlie   NaN    Los Angeles
             Age
count   3.000000
mean   25.666667
std     4.041452
min    22.000000
25%    23.500000
50%    25.000000
75%    27.500000
max    30.000000
      Name        Age           City
0    Alice  25.000000       New York
1      Bob  30.000000  San Francisco
2  Charlie  25.666667    Los Angeles
3    David  22.000000        Chicago

# Q6
In pandas, both Series and DataFrame are mutable in nature. This means that you can modify their contents after creation. However, it's important to note that some operations may return a new object rather than modifying the existing one. .

In [6]:
## Q7
import pandas as pd

# Creating Series
name_series = pd.Series(['Alice', 'Bob', 'Charlie'])
age_series = pd.Series([25, 30, 35])
city_series = pd.Series(['New York', 'San Francisco', 'Los Angeles'])

# Creating DataFrame using multiple Series
df = pd.DataFrame({'Name': name_series, 'Age': age_series, 'City': city_series})

print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles