In [2]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [3]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [8]:
df.head(2)

        course_name  duration
0      Data Science         2
1  Machine Learning         3

In [11]:
sec_row_element = df.iloc[1]

In [12]:
sec_row_element

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

##Q2
In pandas, both `loc` and `iloc` are used for accessing data from a DataFrame, but they have different ways of specifying the location.

1. **`loc` (Label-based Indexing):**
   - `loc` is primarily label-based indexing. It is used for selecting data by labels of rows and columns.
   - It takes labels or boolean array-like objects to specify the location.
   - The syntax for `loc` is `df.loc[row_label, column_label]`.

   Example:
   ```python
   # Selecting data from the second row using loc
   data = df.loc[1]
   ```

   It is important to note that when using `loc`, the ending index is inclusive, meaning it includes the last index specified.

2. **`iloc` (Integer-based Indexing):**
   - `iloc` is integer-location based indexing. It is used for selecting data by integer index positions.
   - It takes integer values or boolean array-like objects to specify the location.
   - The syntax for `iloc` is `df.iloc[row_index, column_index]`.

   Example:
   ```python
   # Selecting data from the second row using iloc
   data = df.iloc[1]
   ```

   Unlike `loc`, when using `iloc`, the ending index is exclusive, meaning it does not include the last index specified.

In [18]:
## Q3
import pandas as pd
import numpy as np

# Creating the DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Reindexing the DataFrame
reindex = [3, 0, 1, 2]
new_df = df1.reindex(reindex)

# Finding output for new_df.loc[2] and new_df.iloc[2]
loc_output = new_df.loc[2]
iloc_output = new_df.iloc[2]

print("Output for new_df.loc[2]:")
print(loc_output)

print("\nOutput for new_df.iloc[2]:")
print(iloc_output)

Output for new_df.loc[2]:
column_1    0.275701
column_2    0.334191
column_3    0.979612
column_4    0.286326
column_5    0.545930
column_6    0.415971
Name: 2, dtype: float64

Output for new_df.iloc[2]:
column_1    0.096494
column_2    0.069858
column_3    0.658055
column_4    0.421697
column_5    0.266204
column_6    0.460216
Name: 1, dtype: float64

In [19]:
## Q4

mean_values = df1.mean()
print("\nMean of each column:")
print(mean_values)

std_dev_column_2 = df1['column_2'].std()
print("\nStandard deviation of column 'column_2':", std_dev_column_2)

Mean of each column:
column_1    0.440171
column_2    0.331990
column_3    0.686144
column_4    0.379646
column_5    0.367484
column_6    0.463949
dtype: float64

Standard deviation of column 'column_2': 0.2766267113021631

In [ ]:
# Q5 - Replace the data in the second row of 'column_2'
df1.loc[2, 'column_2'] = 'your_string_variable'

# Find the mean of 'column_2'
mean_column_2_after_replace = df1['column_2'].mean()
print("\nMean of column 'column_2' after replacement:", mean_column_2_after_replace)

# Q6
The term "windows function" in pandas usually refers to functions that operate on a rolling or expanding window of data. These functions are useful for time series analysis.

Types of window functions include:

Rolling functions (e.g., rolling_mean, rolling_sum): Compute statistics on a fixed-size moving window of data.
Expanding functions (e.g., expanding_mean, expanding_sum): Compute statistics on all the data seen so far.

In [21]:
## Q7


import pandas as pd

# Get current month and year
current_date = pd.to_datetime('today')
current_month_year = current_date.strftime('%B %Y')
print("Current month and year:", current_month_year)

Current month and year: November 2023

In [ ]:
## Q8
import pandas as pd

# Prompt user for two dates
date_str1 = input("Enter the first date (YYYY-MM-DD): ")
date_str2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert input strings to datetime objects
date1 = pd.to_datetime(date_str1)
date2 = pd.to_datetime(date_str2)

# Calculate the difference
time_delta = date2 - date1

# Display the result
print("\nDifference between the two dates:")
print("Days:", time_delta.days)
print("Hours:", time_delta.seconds // 3600)
print("Minutes:", (time_delta.seconds // 60) % 60)

In [ ]:
## Q9
import pandas as pd

# Function to read CSV file, convert column to categorical, and display sorted data
def convert_to_categorical(file_path, column_name, category_order):
    # Read CSV file
    df = pd.read_csv(file_path)

    # Convert specified column to categorical with specified order
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Display sorted data
    sorted_data = df.sort_values(by=[column_name])
    print(sorted_data)

# Prompt user for file path, column name, and category order
file_path = input("Enter the file path (CSV): ")
column_name = input("Enter the column name to convert: ")
category_order_str = input("Enter the category order (comma-separated): ")
category_order = [category.strip() for category in category_order_str.split(',')]

# Call the function
convert_to_categorical(file_path, column_name, category_order)

In [ ]:
 # Q10
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV file and visualize sales data using a stacked bar chart
def visualize_sales_data(file_path):
    # Read CSV file
    df = pd.read_csv(file_path)

    # Assuming the DataFrame has columns: 'Product', 'Date', 'Sales'
    # You may need to adjust the column names based on your actual data

    # Pivot the data for stacked bar chart
    pivot_df = df.pivot(index='Date', columns='Product', values='Sales')

    # Plot stacked bar chart
    pivot_df.plot(kind='bar', stacked=True, figsize=(10, 6))
    plt.title('Sales Data Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.legend(title='Product', bbox_to_anchor=(1.05, 1), loc='upper left')

    # Show the chart
    plt.show()

# Prompt user for file path
file_path = input("Enter the file path (CSV): ")

# Call the function
visualize_sales_data(file_path)

In [ ]:
#Q11
import pandas as pd

# Function to calculate mean, median, and mode of test scores and display results
def calculate_statistics(file_path):
    # Read CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Calculate mean, median, and mode
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_scores = df['Test Score'].mode()

    # Display results in a table
    results_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_scores))]
    })

    print("\nResults:")
    print(results_table)

# Prompt user for file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Call the function
calculate_statistics(file_path)